body {
  width: 100%;
  overflow-x: hidden;
}
.buttons button {
  color: black;
  font-weight: 700;
  width: 115px;
  border-radius: 20px;
  height: 40px;
  text-align: center;
  display: flex-box;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#sign-up {
  background-color: #8e7bff;
  color: white;
}

#navbar-background {
  background-color: white;
  border-bottom: black solid 2px;
}

.topnav-container {
display: flex;
flex-flow: row nowrap;
}

@media (min-width: 1000px) {

 .heading-size-change {
  font-size: 30px;
}
}

@media (min-width: 790.98px) {

.heading-size-change {
  font-size: 20px;
}
}

@media (max-width: 790.98px) {

.heading-size-change {
  font-size: 15px;
}

}

@media (max-width: 662px) {
.topnav-container {
  width: 100%;
  justify-content: flex-start;
}
.heading-size-change {
  font-size: 14px;
}

#logo-container {
  padding-right: 0%;
}
}

@media (min-width: 662px) {
#logo-container {
    padding-right: 10%;
}
.topnav {
  justify-content: center;
  width: 40%;
}
}

.topnav {
  overflow: hidden;
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  top: 0;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.skeuomorphic-buttons-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; 
  height: 75px;
  outline-offset: 1px;
  margin-left: 30px;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
  display: flex;
  padding: 10px 10px;
  text-align: center;
  font-size: 17px;
  align-items: center;
  border-radius: 10px;
}

.container-xl {
border-radius: 20px;
margin-top: 10px;
border: #2a3a45 ridge 10px;
}

.top-row {
margin-top: 25px;
margin-bottom: 80px;
font-size: 70px;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .buttons-form {
    margin-top: 10px;
  }
}

.navbar-toggler {
  margin-top: 10px;
}

.navbar-toggler-icon {
  width: 60px;
  height: 60px;

}

@media (min-width: 870px) {
  .buttons-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7%;

  }

  .navbar-nav {
    width: max(1600px, calc(70% + 100px));
    margin-left: 7%;
  }

  .heading-size-change {
    font-size: 20px;
  }
}

@media (max-width: 870px) {
  .buttons-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7%;
  }
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .buttons-form {
    margin-bottom: 10px;
  }
  .skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
    display: flex;
    text-align: center;
    font-size: 17px;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    justify-content: center;
  }
}

@media (max-width: 1000px) {

  .buttons-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7%;
  }
}

.homepage-position {
  padding-top: 150px;
  padding-bottom: 75px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
}

#plan-button {
  background-color: #80ea99;
  font-weight: 700;
  font-size: 25px;
  border-radius: 40px;
  padding: 20px 32px;
}

.plan-button-container {
  margin-top: 40px;
}

.paragraph-text {
  font-weight: 700;
  font-size: 75px;
}

#cat-card {
  width: 1084.166px;
  height: 648.33px;
  position: absolute;
  z-index: -10;
  margin-left: -380px;
  margin-top: -20px;
}

.first-row {
  margin-bottom: 130px;
}

.second-row {
  width: 105%;
}
.card {
  height: 270px;
  background-color: #8e7bff;
  border-radius: 20px;
}

.card-body {
  margin-top: 45px;
  color: white;
  font-weight: bold;
  margin-left: 12px;
  font-size: 13px;
}

.icon-img {
  width: 70px;
  height: 70px;
  margin-left: 25px;
  margin-top: 20px;
}

.icon-img1 {
  width: 50px;
  height: 80px;
  margin-left: 25px;
  margin-top: 20px;
}


.icon-img2 {
  width: 70px;
  height: 70px;
  margin-left: -200px;
  margin-top: 20px;
}

